
.page-container {
    min-height: 500px;
}
h2 {
    text-align:center;
    color: #016a80;
}
table {
    border-radius  : 15px !important;
    width          : 100%;
    border-collapse: collapse;
    border         : 1px solid #000;
    border         : none;
}

tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.16);
}

tr {
    border-top: 1px solid #000;
}

td {
    // border    : 1px solid #dddddd;
    // padding   : 8px;
    // border-top: 1px solid #000;
    border    : 1px solid #dddddd;
    text-align: center;
    padding   : 8px;
    border-top: 1px solid #000;
    color      : #016a80;
}

th {
    border          : 1px solid #dddddd;
    padding         : 8px;
    background-color: #016a80;
    color           : white;
    font-size        :16px;
}
.btn-css {
    padding: 7px 15px;
    font-size: 13px;
    color        : white;
    border-radius: 5px;
    border       : none;
}



