<div class="container page-container">
    <div>
        <h2>DashBoard</h2>
        <div class="child">
        </div>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>STATUS</th>
                <th>STATUS</th>
            </tr>
            <tr *ngFor="let x of getData">
                <td>{{x.id}}</td>
                <td>{{x.title}}</td>
                <td>{{x.body}}</td>
                <td>
                    <button class="btn-css" style="background-color: #21BE5B;"
                        (click)="updateData(x)">UPDATE</button>
                </td>
                <td>
                    <button class="btn-css" style="background-color: #BE161B;"
                        (click)="cancelData(x)">CANCEL</button>
                </td>
            </tr>
        </table>
    </div>
</div>