<div class="container page-container">
    <h2>Update</h2>
    <div class="request-form">
        <form #campaignForm="ngForm" (ngSubmit)="campaignForm.form.valid && sendRequest()">
                <div>
                    <div class="input-box" id="input-box">
                        <div class="label">
                            <p>Title</p>
                        </div>
                        <div class="input-types">
                            <input type="text" name="title"
                                [(ngModel)]="updateModel.title" required placeholder="Please Enter Title"
                                class="form-input">
                        </div>
                    </div>
                </div>
                &nbsp; &nbsp;
                <div>
                    <div class="input-box" id="input-box">
                        <div class="label">
                            <p>Description</p>
                        </div>
                        <div class="input-types">
                            <input type="text" name="description" 
                                [(ngModel)]="updateModel.description" placeholder="Enter Text Description"
                                class="form-input">
                        </div>
                    </div>
                </div>
            <div class="form-group send-request">
                <button type="submit" class="btn-send-request">Send Request</button>
            </div>
        </form>
    </div>
</div>
