
.page-container {
    min-height: 500px;
}
#main-wrapper {
    padding: 0 0 100px;
    position: relative;
}
h2 {
    text-align:center;
    color: #016a80;
}
.request-form {
  margin: 30px 0px;
  .validation{
        color:red;
        font-size: 12px;
        width: 43%;
        display: flex;
        margin: auto;
        margin-top: 5px;
  }
  .mb-25{
      margin-bottom: 25px;
  }
  .blue-border {
      border: 1px solid gray !important;
  }
  .input-box {
      width: 43%;
      // margin-bottom: 20px;
      padding: 8px 10px;
      border: 1px solid #AFAFAF;
      display: flex;
      justify-content: space-between;
      margin: auto;
      .label {
          margin: auto 0px;
          p {
              margin-bottom: 0px !important;
              font: 12px/14px Gotham-Book;
              
          }
          
      }
      .input-types {
          width: 250px;
          .form-input {
              width: 100%;
              outline: none;
              border: none;
              font: 12px/14px Gotham-Book;
              
              padding: 0px 15px;
          }
      }
  }
  .text-area-input {
      border: 1px solid #AFAFAF;
      margin-bottom: 15px;
      width: 100%;
      padding: 10px 15px;
      outline: none;
      font: 12px/14px Gotham-Book;
  }
  .send-request {
      text-align: center;
      margin: 55px 0px;
      .btn-send-request {
          background: #0F1C1E 0% 0% no-repeat padding-box;
          border-radius: 5px;
          opacity: 1;
          padding: 10px 20px;
          font: 12px/16px Gotham-Book;
          text-transform: uppercase;
          outline: none;
          border: none;
          color: white;
      }
  }
}